<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Météo</title>
    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div id="bar">
    <p>Météo</p>  
</div>
<div id="wrapper">
    

    <div id="city">
        <p>Bienvenue sur votre prévision météo</p>
        <!-- Champs de saisie pour la ville, le pays, et l'ID de la ville -->
        <input type="text" id="ville" placeholder="Nom de la ville (Paris, Bordeaux, Monaco)">
        <input type="text" id="cle" placeholder="Clé">
    </div>

    <div id="reponse">
        <p></p>
    </div>

     <div id="reponse_data_ville">
        <p></p>
    </div>

    <button onclick="city()">City</button>

   

</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
